{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "web/tsconfig.json"
    },
    "plugins": ["@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:eslint-plugin-react-hooks/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
    ],
    "ignorePatterns": ["webpack.config.js"],
    "rules": {
        "eol-last": "error",
        "arrow-parens": ["error", "always"],
        "indent": "off",
        "@typescript-eslint/indent": ["error"],
        "@typescript-eslint/comma-dangle": ["error", "always-multiline"],
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/restrict-plus-operands": "off",
        "@typescript-eslint/restrict-template-expressions": "off",
        "@typescript-eslint/semi": ["error", "always", {"omitLastInOneLineBlock": true}],
        "@typescript-eslint/unbound-method": ["off", {"ignoreStatic": true}]
    },
    "overrides": [{
        "files": ["**/*.test.{ts,tsx}"],
        "rules": {
            "@typescript-eslint/no-non-null-assertion": "off",
            "@typescript-eslint/no-empty-function": "off"
        }
    }]
}