table.table {
    border-collapse: collapse;

    &, tr, th, td {
        border: 1px solid #d8d8d8;
    }

    thead {
        background: #ccddee;
    }

    tbody {
        tr:nth-child(even) {
            background: #eeeeee;
        }
    }

    td {
        padding: 1px 2px;
    }
}