$mdc-theme-background: #fafafa !default;
$mdc-theme-primary: #6200ee !default; // baseline purple, 500 tone
$mdc-theme-secondary: rgb(84, 110, 122) !default; // #54647a
$mdc-theme-text-secondary: rgba(0, 0, 0, 0.54) !default;
$mdc-theme-on-primary: #ffffff !default;
$mdc-theme-on-secondary: #ffffff !default;

$table-border: #c0c0c0 !default;
$table-odd-background: #e0f0f5 !default;

$app-margin: 0 !default;
$app-bar-height: 48px !default;
$side-bar-width: 300px !default;
$modal-zindex: 1300 !default;

$error-background: red !default;
$selected-background: #dfd0e0 !default;
$changed-background: rgb(150, 231, 255);
$changed-selected-background: mix($changed-background, $selected-background, $weight: 50%);

$transaction-hover-background: #dddddd !default;

/* Chrome, Safari, Edge, Opera: disable spinner on number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox: disable spinner on number input */
input[type='number'] {
    -moz-appearance: textfield;
    max-width: 10ex;
}

.hidden {
    display: none;
}

body {
    margin: $app-margin;
}

.app-main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
}

.MuiAppBar-root {
    .MuiToolBar-root {
        .filler,
        h6.MuiTypography-root {
            flex-grow: 1;
        }
        .MuiOutlined-root.Mui-focused .MuiOutlinedInput-notchedOutline {
            border-color: lighten($color: $mdc-theme-primary, $amount: 30%);
        }
        .MuiOutlinedInput-notchedOutline {
            border-color: rgba(255, 255, 255, 0.23);
        }
        .MuiInputBase-root {
            background-color: rgba(255, 255, 255, 0.1);
            color: inherit;
        }
        .MuiButtonBase-root {
            color: inherit;
        }
        .MuiButtonBase-root:disabled {
            color: #c0c0c0;
        }
        .MuiAutocomplete-root {
            max-width: 300px;
            flex-grow: 1;
        }
        .MuiButtonBase-root {
            &.Mui-selected {
                background-color: rgba($color: #000000, $alpha: 0.25);
            }
        }
    }
}

.sidebar-menu {
    width: $side-bar-width;
    overflow: hidden;
    .menu {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        &.next {
            translate: -$side-bar-width;
            transition: translate 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        }
        &.previous {
            position: relative;
            left: -$side-bar-width;
            translate: $side-bar-width;
            transition: translate 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        }
        .MuiList-root {
            width: $side-bar-width;
            overflow-y: auto;
        }
        // .MuiMenuItem-root { // for long account/company names
        //     .MuiListItemText-primary {
        //         overflow: hidden;
        //         text-overflow: ellipsis;
        //     }
        // }
        .MuiListItemSecondaryAction-root {
            .MuiIconButton-label {
                background-color: rgba(0, 0, 0, 0.15);
                border-radius: 50%;
            }
        }
    }
}

#accounts-menu {
    .MuiAutocomplete-option {
        padding: 0 16px;
    }
    .MuiListSubheader-root {
        line-height: unset;
    }
    .MuiListSubheader-gutters {
        padding-left: 0;
        padding-right: 0;
    }
}

table.transactions {
    .security {
        display: none;
    }
}

.MuiTextField-root.date input {
    max-width: 10ex;
}

table.transactions,
table.security-transactions {
    td.category {
        span::before {
            content: '';
            padding-right: 20px;
        }
        span.transfer::before {
            content: '\02b95';
            font-weight: bold;
            font-size: small;
            color: darkblue;
            padding-right: 3px;
        }
    }
    td.number {
        min-width: 6em;
    }
}

.number {
    font-style: unset;
}
.number.negative {
    color: red;
}

.chip {
    border-radius: 1em;
    border: 1px solid darkgray;
    display: inline-block;
    margin: 3px;
    padding: 2px 6px;
    .material-icons {
        vertical-align: text-top;
    }
}

.transaction {
    display: flex;
    align-items: center;
    .material-icons {
        font-size: 18px;
    }
    @media (max-width: 835px) {
        display: block;
    }
    border-bottom: 1px solid darkgray;
    &.prototype {
        position: absolute;
        top: -400px;
    }
    &:nth-child(odd) {
        background-color: #f0ffff;
    }
    &.changed {
        background-color: $changed-background;
        &:hover {
            background-color: darken($color: $changed-background, $amount: 10%);
        }
        &.selected {
            background-color: $changed-selected-background;
            &:hover {
                background-color: darken($color: $changed-selected-background, $amount: 10%);
            }
        }
    }
    &.selected {
        background: $selected-background;
        &:hover {
            background-color: darken($color: $selected-background, $amount: 10%);
        }
        .details {
            flex-wrap: wrap;
        }
    }
    .MuiInputBase-root {
        background-color: change-color($mdc-theme-background, $alpha: 0.9);
    }
    &:hover {
        background-color: $transaction-hover-background;
    }
    &.header {
        font-weight: 500;
        .leading {
            flex-basis: 10ex;
            justify-content: space-around;
        }
        .details {
            justify-content: space-around;
        }
    }
    .leading {
        display: flex;
        flex-direction: row;
        // flex-basis: 8em;
        white-space: nowrap;
        align-items: center;
    }
    span[data-type='ref'] {
        font-weight: bold;
        color: white;
        background: #333333;
        padding: 2px 6px 0;
        border-radius: 1em;
        margin-left: 3px;
        @media (max-width: 835px) {
            margin-left: auto;
        }
    }
    .detail.chip {
        display: inline-block;
        background: #ececec;
        span + span {
            padding-left: 5px;
            &.transfer {
                padding-left: 2px;
            }
        }
        .transfer i.material-icons {
            background-image: linear-gradient(darkgreen, lightgreen);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .group {
            color: darkcyan;
        }
        &.prefix {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            margin-right: 0;
        }
        &.suffix {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin-left: 0;
        }
    }
    .details {
        display: flex;
        // flex-wrap: wrap; TODO (removed for single line list item)
        flex-grow: 1;
        // TODO (for single line list item)
        overflow: hidden;
        align-items: center;
        .MuiAutocomplete-root {
            input.MuiInputBase-input {
                width: initial;
            }
        }
        .number {
            flex-basis: 8em;
            text-align: right;
            flex-grow: 1;
        }
        span.shares {
            em {
                text-shadow: 0 0 2px #008a00;
            }
        }
        span[data-type='payee'] {
            background: lightyellow;
        }
        span[data-type='security'] {
            background: #dbfadb;
        }
        span.chip[data-type='description'] {
            background: white;
        }
        span.memo:not(.chip) {
            font-style: italic;
        }
        .chip {
            // TODO (for single line list item)
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding-bottom: 0;
        }
    }
    .trailing {
        display: flex;
        flex-basis: 16em;
        flex-shrink: 0;
        .MuiCheckbox-root {
            padding: 0;
        }
        .number {
            flex-grow: 1;
            text-align: right;
            flex-basis: 50%;
        }
    }
    .MuiTextField-root.error {
        background-color: $error-background;
    }
}

.MuiSnackbarContent-message {
    .material-icons {
        vertical-align: bottom;
        margin-right: 5px;
    }
}
.MuiSnackbarContent-action {
    .MuiButton-textPrimary {
        color: scale-color($mdc-theme-primary, $lightness: 30%);
    }
}

@import 'scrollable.scss';
@import 'table.scss';
@import 'dialog.scss';
@import 'progress.scss';
@import 'transaction.scss';
@import 'icons.scss';
