$mdc-theme-primary: #6200ee !default; // baseline purple, 500 tone
$mdc-theme-secondary: rgb(84, 110, 122) !default;

@import "@material/react-typography/index";
@import '@material/react-button/index';
@import '@material/react-icon-button/index';
@import "@material/react-material-icon/index";
@import "@material/react-top-app-bar/index";
@import '@material/react-list/index';
@import '@material/react-menu-surface/index';
@import '@material/react-menu/index';

.hidden {
    display: none;
}
$app-margin: 0 !default;

body {
    margin: $app-margin;
}

a.menu-item {
    text-decoration: unset;
    color: inherit;
}

table.transactions {
    .security {
        display: none;
    }
}

table.transactions,
table.security-transactions {
    td.category {
        span::before {
            content: '';
            padding-right: 20px;
        }
        span.transfer::before {
            content: '\02b95';
            font-weight: bold;
            color: darkblue;
            padding-right: 3px;
        }
    }
}

@import "table.scss";
@import "progress.scss";