$mdc-theme-primary: #6200ee !default; // baseline purple, 500 tone
$mdc-theme-secondary: rgb(84, 110, 122) !default; // #54647a
$mdc-theme-on-primary: #ffffff !default;
$mdc-theme-on-secondary: #ffffff !default;

$app-margin: 0 !default;
$app-bar-height: 48px !default;

.hidden {
    display: none;
}

body {
    margin: $app-margin;
}

a.menu-item {
    text-decoration: unset;
    color: inherit;
}

table.transactions {
    .security {
        display: none;
    }
}

table.transactions,
table.security-transactions {
    td.category {
        span::before {
            content: '';
            padding-right: 20px;
        }
        span.transfer::before {
            content: '\02b95';
            font-weight: bold;
            font-size: small;
            color: darkblue;
            padding-right: 3px;
        }
    }
    td.number {
        min-width: 6em;
    }
}

.number {
    font-style: unset;
}
.number.negative {
    color: red;
}

.chip {
    border-radius: 1em;
    border: 1px solid darkgray;
    display: inline-block;
    margin: 3px;
    padding: 2px 6px;
    i.material-icons {
        vertical-align: text-top;
        // padding-right: 5px; // TODO removed for tx detail.  Any other uses?
    }
}

.transaction {
    display: flex;
    align-items: baseline;
    @media (max-width: 835px) {
        display: block;
    }
    border-bottom: 1px solid darkgray;
    &.prototype {
        position: absolute;
        top: -400px;
    }
    &:nth-child(odd) {
        background-color: #f0ffff;
    }
    &.header {
        font-weight: 500;
        .leading {
            flex-basis: 10ex;
            justify-content: space-around;
        }
        .details {
            justify-content: space-around;
        }
    }
    .leading {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        // flex-basis: 8em;
        white-space: nowrap;
    }
    .ref-number {
        font-weight: bold;
        color: white;
        background: #333333;
        padding: 2px 6px 0;
        border-radius: 1em;
        margin-left: 3px;
        @media (max-width: 835px) {
            margin-left: auto;
        }
    }
    .detail.chip {
        display: inline-block;
        background: #ececec;
        span + span {
            padding-left: 5px;
        }
    }
    .details {
        display: flex;
        align-items: baseline;
        // flex-wrap: wrap; TODO (removed for single line list item)
        flex-grow: 1;
        // TODO (for single line list item)
        overflow: hidden;
        .number {
            flex-basis: 8em;
            text-align: right;
            flex-grow: 1;
        }
        span.shares {
            em {
                text-shadow: 0 0 2px #008a00;
            }
        }
        span.payee {
            background: lightyellow;
        }
        span.security {
            background: #dbfadb;
        }
        span.memo.chip {
            background: white;
        }
        span.memo:not(.chip) {
            font-style: italic;
        }
        .chip {
            // TODO (for single line list item)
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    .trailing {
        display: flex;
        flex-basis: 16em;
        flex-shrink: 0;
        .number {
            flex-grow: 1;
            text-align: right;
        }
    }
}

@import 'scrollable.scss';
@import 'table.scss';
@import 'progress.scss';
@import 'icons.scss';
