$table-border: #c0c0c0 !default;

table.table {
    border-spacing: 0;
    position: relative;
    top: $mdc-top-app-bar-dense-row-height;
    width: 100%;

    th, td {
        border: 1px solid $table-border;
        &:not(:last-child) {
            border-right: 0;
        }
    }

    thead {
        color: $mdc-theme-on-secondary;
        font-weight: 500;
        th {
            background: $mdc-theme-secondary;
            position: sticky;
        }
        tr:nth-child(1) th {
            top: $app-margin + $mdc-top-app-bar-dense-row-height;
        }
        tr:nth-child(2) th {
            top: $app-margin + $mdc-top-app-bar-dense-row-height + 24px;
        }
    }

    tbody {
        tr:nth-child(even) {
            background: #eeeeee;
        }

        td {
            border-top: 0;
        }
    }

    td, th {
        padding: 1px 3px;
    }

    td.boolean, th.boolean, td.number, th.number, td.enum, th.enum, td.date, th.date {
        width: 1px;
    }

    td.boolean {
        text-align: center;
    }

    td.number {
        white-space: nowrap;
        text-align: right;
        &.negative {
            color: red;
        }
    }

    td.date {
        white-space: nowrap;
    }

    &.header-detail {
        tbody:nth-child(even) {
            background: #eeeeee;
        }
        tr:nth-child(even) {
            background: unset;
        }
        tr.detail td {
            color: #505486;
            &.number.negative {
                color: rgba(255, 0, 0, 0.7);
            }
        }
    }
}
