$table-border: #c0c0c0 !default;
$table-even-background: #eeeeee !default;
$table-hover-background: #dddddd !default;

table.table {
    border-spacing: 0;
    position: relative;
    top: 0;
    width: 100%;

    th, td {
        border: 1px solid $table-border;
        &:not(:last-child) {
            border-right: 0;
        }
    }

    thead {
        color: $mdc-theme-on-secondary;
        font-weight: 500;
        th {
            background: $mdc-theme-secondary;
            position: sticky;
        }
        tr:nth-child(1) th {
            top: 0;
        }
        tr:nth-child(2) th {
            top: 24px;
        }
    }

    tbody {
        tr.prototype {
            position: absolute;
            top: -1000px;
        }
        tr:hover {
            background: $table-hover-background;
        }
        tr.even {
            background: $table-even-background;
            &:hover {
                background: $table-hover-background;
            }
        }
        td {
            border-top: 0;
        }
    }

    td, th {
        padding: 1px 3px;
    }

    td.boolean, th.boolean, td.number, th.number, td.enum, th.enum, td.date, th.date {
        width: 1px;
    }

    td.boolean {
        text-align: center;
    }

    td.number {
        white-space: nowrap;
        text-align: right;
        &.negative {
            color: red;
        }
    }

    td.date {
        white-space: nowrap;
    }

    &.header-detail tbody {
        tr.detail td {
            color: #505486;
            &.number.negative {
                color: rgba(255, 0, 0, 0.7);
            }
        }
    }
}
