$table-changed-background: lightskyblue !default;
$table-deleted-background: lightpink !default;

table.table {
    position: relative;
    top: 0;

    th,
    td {
        &:not(:last-child) {
            border-right: 1px solid $table-border;
        }
        .material-icons {
            font-size: 18px;
            vertical-align: middle;
            color: $mdc-theme-text-secondary;
        }
    }

    td {
        &.changed {
            background-color: $table-changed-background;
        }
        &.editing {
            padding: 1px;
            .MuiInputBase-root {
                font-size: inherit;
                background-color: $mdc-theme-background;
                padding: 4px 2px 2px;
            }
            .MuiInputBase-input {
                padding: 0;
            }
        }
    }

    thead {
        font-weight: 500;
        th {
            color: $mdc-theme-on-secondary;
            background: $mdc-theme-secondary;
            position: sticky;
            white-space: nowrap;
        }
        tr:nth-child(1) th {
            top: 0;
        }
        tr:nth-child(2) th {
            top: 25px;
        }
    }

    tbody {
        tr.prototype {
            position: absolute;
            top: -1000px;
        }
        tr:hover {
            background: $transaction-hover-background;
        }
        tr.odd {
            background: $table-odd-background;
            &:hover {
                background: $transaction-hover-background;
            }
        }
        tr.deleted {
            background: $table-deleted-background;
            text-decoration: line-through;
        }
        tr.selected {
            td.selected {
                background: $selection-background;
                &.changed {
                    background: mix($selection-background, $table-changed-background);
                }
            }
        }
    }

    td.boolean,
    th.boolean,
    td.number,
    th.number,
    td.enum,
    th.enum,
    td.date,
    th.date {
        width: 1px;
    }

    td.boolean {
        text-align: center;
    }

    td.number {
        white-space: nowrap;
        text-align: right;
        &.negative {
            color: red;
        }
    }

    td.security,
    td.enum,
    td.date {
        white-space: nowrap;
    }

    &.header-detail tbody {
        tr.detail td {
            color: #666666;
            &.number.negative {
                color: rgba(255, 0, 0, 0.7);
            }
        }
    }
}
